# --- Windows & System Files ---
*.exe
*.lnk
*.msi
*.msp
*.com
*.bin
Thumbs.db
.DS_Store

# --- Java / Spring Boot ---
target/
*.jar
*.war
.mvn/wrapper/maven-wrapper.jar

# --- Angular / Node ---
node_modules/
dist/
.angular/

# --- Python ---
__pycache__/
*.py[cod]
.venv/
venv/
env/
.env

# --- IDEs / OS ---
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db

# --- Databases / AI ---
chroma_db/
*.csv
*output.txt